<html>
<head>
	<title>{{ config.title }}</title>
</head>
<body>
<header>
<div class="inner">
	<h1><span class="logo">Posted</span></h1>
	<nav>
		<ul>
		<li><a href="{{ config.site_url }}" class="btn"><span>Back to site</span></a></li>
		</ul>
	</nav>
</div>
</header>
<div class="content" id="content">
	{% for post in posts %}
	<div class="post">
		{% autoescape false %}{{ post }}{% endautoescape %}
	</div>
	{% endfor %}
</div>
<footer>
	<p><a href="/updates">What's new</a></p>
</footer>

{% if config.single_post %}
	<link rel='stylesheet' href='../css/style.css' type='text/css' />
	<script src="../js/jquery-3.2.1.min.js" type="text/javascript"></script>
	<script src='../js/path.js' type="text/javascript"></script> 
{% else %}
	<script src="js/jquery-3.2.1.min.js" type="text/javascript"></script>
	<script src='js/route.js' type="text/javascript"></script> 
	<link rel='stylesheet' href='css/style.css' type='text/css' />
{% endif %}
</body>
</html>